<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.michaellee8.safeisolatorforandroid"
    android:installLocation="internalOnly">

    <!-- NetGuard -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <permission
        android:name="eu.faircode.netguard.permission.ADMIN"
        android:description="@string/app_description"
        android:label="@string/app_name"
        android:protectionLevel="signature" />

    <uses-permission android:name="eu.faircode.netguard.permission.ADMIN" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widgets"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Shelter -->

    <uses-feature
        android:name="android.software.device_admin"
        android:required="true" />
    <uses-feature
        android:name="android.software.managed_users"
        android:required="true" />


    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:maxSdkVersion="25" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name=".SafeIsolatorAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTeal">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SafeIsolatorForAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NetGuard -->
        <service
            android:name="eu.faircode.netguard.ServiceSinkhole"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="eu.faircode.netguard.ServiceExternal"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="eu.faircode.netguard.DOWNLOAD_HOSTS_FILE" />
            </intent-filter>
        </service>

        <service
            android:name="eu.faircode.netguard.ServiceTileMain"
            android:exported="true"
            android:icon="@drawable/ic_security_white_24dp"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="eu.faircode.netguard.ServiceTileGraph"
            android:exported="true"
            android:icon="@drawable/ic_equalizer_white_24dp"
            android:label="@string/setting_stats_category"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="eu.faircode.netguard.ServiceTileFilter"
            android:exported="true"
            android:icon="@drawable/ic_filter_list_white_24dp"
            android:label="@string/setting_filter"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="eu.faircode.netguard.ServiceTileLockdown"
            android:exported="true"
            android:icon="@drawable/ic_lock_outline_white_24dp"
            android:label="@string/setting_lockdown"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name="eu.faircode.netguard.ReceiverAutostart"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="eu.faircode.netguard.ReceiverPackageRemoved"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="eu.faircode.netguard.WidgetMain"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetmain" />
        </receiver>

        <receiver
            android:name="eu.faircode.netguard.WidgetLockdown"
            android:exported="true"
            android:label="@string/setting_lockdown">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetlockdown" />
        </receiver>

        <receiver
            android:name="eu.faircode.netguard.WidgetAdmin"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="eu.faircode.netguard.permission.ADMIN">
            <intent-filter>
                <action android:name="eu.faircode.netguard.ON" />
                <action android:name="eu.faircode.netguard.OFF" />
                <action android:name="eu.faircode.netguard.LOCKDOWN_ON" />
                <action android:name="eu.faircode.netguard.LOCKDOWN_OFF" />
            </intent-filter>
        </receiver>

        <!-- Shelter -->
        <activity
            android:name="net.typeblog.shelter.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name="net.typeblog.shelter.ui.SetupWizardActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/SuwThemeMaterial.Light" />
        <activity
            android:name="net.typeblog.shelter.ui.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name="net.typeblog.shelter.ui.DummyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="net.typeblog.shelter.action.FINALIZE_PROVISION" />
                <action android:name="net.typeblog.shelter.action.START_SERVICE" />
                <action android:name="net.typeblog.shelter.action.TRY_START_SERVICE" />
                <action android:name="net.typeblog.shelter.action.INSTALL_PACKAGE" />
                <action android:name="net.typeblog.shelter.action.UNINSTALL_PACKAGE" />
                <action android:name="net.typeblog.shelter.action.UNFREEZE_AND_LAUNCH" />
                <action android:name="net.typeblog.shelter.action.PUBLIC_UNFREEZE_AND_LAUNCH" />
                <action android:name="net.typeblog.shelter.action.PUBLIC_FREEZE_ALL" />
                <action android:name="net.typeblog.shelter.action.FREEZE_ALL_IN_LIST" />
                <!-- We need two of these to avoid being prompted with an action chooser dialog -->
                <!-- When the intent is actually already forwarded to work profile -->
                <action android:name="net.typeblog.shelter.action.START_FILE_SHUTTLE" />
                <action android:name="net.typeblog.shelter.action.START_FILE_SHUTTLE_2" />
                <action android:name="net.typeblog.shelter.action.SYNCHRONIZE_PREFERENCE" />
                <action android:name="net.typeblog.shelter.action.PACKAGEINSTALLER_CALLBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.typeblog.shelter.ui.CameraProxyActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/camera_proxy_activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="net.typeblog.shelter.receivers.ShelterDeviceAdminReceiver"
            android:description="@string/device_admin_desc"
            android:exported="true"
            android:label="@string/device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.PROVISION_MANAGED_PROFILE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="net.typeblog.shelter.util.FileProviderProxy"
            android:authorities="net.typeblog.shelter.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="net.typeblog.shelter.util.CrossProfileDocumentsProvider"
            android:authorities="net.typeblog.shelter.documents"
            android:enabled="false"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <service
            android:name="net.typeblog.shelter.services.ShelterService"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN" />
        <service
            android:name="net.typeblog.shelter.services.FileShuttleService"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN" />
        <service android:name="net.typeblog.shelter.services.KillerService" />
        <service android:name="net.typeblog.shelter.services.FreezeService" />
    </application>

</manifest>